<mat-sidenav-container *ngIf="mostrarTelas" class="container" fullscreen>
    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <cdk-sidemenu></cdk-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content>
        <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>
        <perfect-scrollbar>
            <router-outlet></router-outlet>
        </perfect-scrollbar>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 position="end" mode="over">
        <cdk-sidebar></cdk-sidebar>
    </mat-sidenav>
</mat-sidenav-container>