<!-- <h1 mat-dialog-title>Log de modificações</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input disabled type="text" id="uscNome" name="uscNome" class="form-control" matInput placeholder="Usuário de criação" [(value)]="usuarioCriacao" />
    </mat-form-field>
    <br />

    <mat-form-field>
        <input name="dtCriacao" matInput [matDatepicker]="dp1" placeholder="Data de criação" disabled [(value)]="dataCriacao">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <br />

    <mat-form-field>
        <input disabled type="text" id="usmNome" name="usmNome" class="form-control" matInput placeholder="Último usuário a modificar" [(value)]="usuarioModificacao" />
    </mat-form-field>
    <br />

    <mat-form-field>
        <input name="dtMod" matInput [matDatepicker]="dp2" placeholder="Data de modificação" disabled [(value)]="dataModificacao">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2 disabled="false"></mat-datepicker>
    </mat-form-field>
    <br />

</div> -->