<!--
   1)- Add an ID here
 -->
<div id="print-section">
    <table>
        <tbody>
            <tr>
                <td>teste </td>
                <td>teste</td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste </td>
                <td>teste </td>
            </tr>

        </tbody>
    </table>
</div>

<!--
   2)- Add the directive name in your button (ngxPrint),
   3)- Affect your ID to printSectionId
 -->
<button printSectionId="print-section" ngxPrint>print</button>